/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

#container {
	display: grid;
	width: 89.5%;
	margin: 0 auto;
	grid-template-columns: repeat (12, 1fr);
	column-gap: 2%;
	row-gap: 20px;

}


#container> div {
	
	border: 1px solid black;
	min-height: 206px;

}

#container2 > div {
	box-sizing: border-box;
	border: 1px black solid;
	
	

}

#container2{
	box-sizing: border-box;
	width: 89.5;
	min-height: 200px;
	border: 1px black solid;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 2%;
	row-gap: 20px;
	padding: 10px;
} 



.header {
	grid-column: span 12;
}
.box1{
	grid-column: span 2;
}

.box2{
	grid-column: span 8;
}

.box3{
	grid-column: span 2;

}

.content {
	grid-column: span 9;
}

.sidebar {
	grid-column: span 3;
}
#container2{
	grid-column: span 12;
}
.footer1{
	grid-column: span 3;
}

.footer2{
	grid-column: span 3;
}
.footer3{
	grid-column: span 3;
}
.footer4{
	grid-column: span 3;
}

@media screen  and (max-width: 1200px) {
	#container {
		width: 960px;
	}

	.box1, .box3 {
		grid-column: span 3;
	}

.box2 {
	grid-column: span 6;
}

.content {
	grid-column: span 8;
}

.sidebar{
	grid-column: span 4;
}

.footer1, .footer2, .footer3, .footer4 {
	grid-column: span 3;
}

#container {
	display: grid;
	width: 89.5%;
	margin: 0 auto;
	grid-template-columns: repeat (12, 1fr);
	column-gap: 2%;
	row-gap: 20px;
}

}

@media screen and (max-width: 960px) {
	#container {
		width: 768px;
	}
	.box1, .box3, .box2 {
		grid-column: span 4;
	}
	.content {
		grid-column: span 6;
	}
	.sidebar{
		grid-column: span 6;
	}
	.footer1, .footer2, .footer3, .footer4 {
		grid-column: span 6;
	}

	#container {
		display: grid;
		width: 89.5%;
		margin: 0 auto;
		grid-template-columns: repeat (12, 1fr);
		column-gap: 2%;
		row-gap: 20px;
	
	}
	
}
	
@media screen  and (max-width:768px) {

	
	.box1, .box3, .box2 {
		grid-column: span 12;
	}
	.content {
		grid-column: span 12;
	}
	.sidebar{
		grid-column: span 12;
	}
	.footer1, .footer2, .footer3, .footer4 {
		grid-column: span 12;
		min-height: 206px;
	}

	#container {
		width: 90%;
		margin: 0 auto;
		grid-template-columns: repeat (12, 1fr);
		column-gap: 2%;
		row-gap: 20px;
	
	}

}